# Python 일반 설정
*.pyc
__pycache__/
*.pyo
*.pyd

# 가상환경
venv/
.venv/
env/
env*/

# IDE 설정 파일
.idea/
.vscode/

# OS 생성 파일
.DS_Store
Thumbs.db

# IntelliJ / PyCharm 설정
*.iml
*.ipr
*.iws

# 로그 파일
*.log

# 배포 관련
.env
.env.local
.env.*.local

# Docker 등의 빌드산물
build/
dist/
*.egg-info/

# Uvicorn / Gunicorn 관련
reload/
